[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "openbiolabGRX.github.io"]
	path = openbiolabGRX.github.io
	url = https://github.com/openbiolabGRX/openbiolabGRX.github.io.git
